body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#game-board-container {
    position: relative;
}

.board-space {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.board-space:hover {
    background: transparent;
}