@page "/"

@rendermode InteractiveServer

<h1>Monopoly Web</h1>

<div id="game-board-container" style="position:relative; width:800px; height:800px;">
    @foreach (var space in BoardSpaces)
    {
        <BoardSpace Space="space" OnClick="HandleClick" />
    }
</div>

@code {
    private List<BoardSpaceDto> BoardSpaces { get; set; } = new();

    protected override void OnInitialized()
    {
        BoardSpaces = new()
        {
            // --- Cantos ---
            new() { Id = "space-0", Name = "Go", Style = new() { Top = "695px", Left = "702px", Width = "98px", Height = "105px" } },
            new() { Id = "space-10", Name = "Jail", Style = new() { Top = "695px", Left = "0px", Width = "98px", Height = "105px" } },
            new() { Id = "space-20", Name = "Free Parking", Style = new() { Top = "0px", Left = "0px", Width = "98px", Height = "105px" } },
            new() { Id = "space-30", Name = "Go to Jail", Style = new() { Top = "0px", Left = "702px", Width = "98px", Height = "105px" } },

            // --- Linha de baixo ---
            new() { Id = "space-1", Name = "Mediterranean Avenue", Style = new() { Top = "695px", Left = "635px", Width = "67px", Height = "105px" } },
            new() { Id = "space-2", Name = "Community Chest", Style = new() { Top = "695px", Left = "568px", Width = "67px", Height = "105px" } },
            new() { Id = "space-3", Name = "Baltic Avenue", Style = new() { Top = "695px", Left = "501px", Width = "67px", Height = "105px" } },
            new() { Id = "space-4", Name = "Income Tax", Style = new() { Top = "695px", Left = "434px", Width = "67px", Height = "105px" } },
            new() { Id = "space-5", Name = "Reading Railroad", Style = new() { Top = "695px", Left = "367px", Width = "67px", Height = "105px" } },
            new() { Id = "space-6", Name = "Oriental Avenue", Style = new() { Top = "695px", Left = "300px", Width = "67px", Height = "105px" } },
            new() { Id = "space-7", Name = "Chance", Style = new() { Top = "695px", Left = "233px", Width = "67px", Height = "105px" } },
            new() { Id = "space-8", Name = "Vermont Avenue", Style = new() { Top = "695px", Left = "166px", Width = "67px", Height = "105px" } },
            new() { Id = "space-9", Name = "Connecticut Avenue", Style = new() { Top = "695px", Left = "98px", Width = "67px", Height = "105px" } },

            // --- Coluna da esquerda ---
            new() { Id = "space-11", Name = "St. Charles Place", Style = new() { Top = "634px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-12", Name = "Electric Company", Style = new() { Top = "568px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-13", Name = "States Avenue", Style = new() { Top = "502px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-14", Name = "Virginia Avenue", Style = new() { Top = "436px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-15", Name = "Pennsylvania Railroad", Style = new() { Top = "370px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-16", Name = "St. James Place", Style = new() { Top = "304px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-17", Name = "Community Chest", Style = new() { Top = "238px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-18", Name = "Tennessee Avenue", Style = new() { Top = "172px", Left = "0px", Width = "98px", Height = "66px" } },
            new() { Id = "space-19", Name = "New York Avenue", Style = new() { Top = "106px", Left = "0px", Width = "98px", Height = "66px" } },

            // --- Linha de cima ---
            new() { Id = "space-21", Name = "Kentucky Avenue", Style = new() { Top = "0px", Left = "98px", Width = "67px", Height = "105px" } },
            new() { Id = "space-22", Name = "Chance", Style = new() { Top = "0px", Left = "165px", Width = "67px", Height = "105px" } },
            new() { Id = "space-23", Name = "Indiana Avenue", Style = new() { Top = "0px", Left = "232px", Width = "67px", Height = "105px" } },
            new() { Id = "space-24", Name = "Illinois Avenue", Style = new() { Top = "0px", Left = "299px", Width = "67px", Height = "105px" } },
            new() { Id = "space-25", Name = "B. & O. Railroad", Style = new() { Top = "0px", Left = "366px", Width = "67px", Height = "105px" } },
            new() { Id = "space-26", Name = "Atlantic Avenue", Style = new() { Top = "0px", Left = "433px", Width = "67px", Height = "105px" } },
            new() { Id = "space-27", Name = "Ventnor Avenue", Style = new() { Top = "0px", Left = "500px", Width = "67px", Height = "105px" } },
            new() { Id = "space-28", Name = "Water Works", Style = new() { Top = "0px", Left = "567px", Width = "67px", Height = "105px" } },
            new() { Id = "space-29", Name = "Marvin Gardens", Style = new() { Top = "0px", Left = "635px", Width = "67px", Height = "105px" } },

            // --- Coluna da direita ---
            new() { Id = "space-31", Name = "Pacific Avenue", Style = new() { Top = "106px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-32", Name = "North Carolina Avenue", Style = new() { Top = "172px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-33", Name = "Community Chest", Style = new() { Top = "238px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-34", Name = "Pennsylvania Avenue", Style = new() { Top = "304px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-35", Name = "Short Line", Style = new() { Top = "370px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-36", Name = "Chance", Style = new() { Top = "436px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-37", Name = "Park Place", Style = new() { Top = "502px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-38", Name = "Luxury Tax", Style = new() { Top = "568px", Left = "702px", Width = "98px", Height = "66px" } },
            new() { Id = "space-39", Name = "Boardwalk", Style = new() { Top = "634px", Left = "702px", Width = "98px", Height = "66px" } },

            // --- Montes de cartas ---
            new() { Id = "community-chest-pile", Name = "Monte de Cartas Cofre", Style = new() { Top = "175px", Left = "145px", Width = "140px", Height = "92px", Transform = "rotate(-45deg)" } },
            new() { Id = "chance-pile", Name = "Monte de Cartas Sorte", Style = new() { Top = "535px", Left = "515px", Width = "140px", Height = "92px", Transform = "rotate(-45deg)" } },
        };
    }

    private Task HandleClick(BoardSpaceDto space)
    {
        Console.WriteLine($"id: {space.Id}");
        return Task.CompletedTask;
    }
}